<section class="about-section section" id="about">
  <div class="about-container container">
    <div class="about-the-game">
      <h2 class="about-title">About the Game</h2>
      <h3 class="about-subtitle">
        Delightful Puzzle Matching with a Candy Coating
      </h3>
      <p class="about-text">
        Lollipop Candy Match is a casual yet engaging puzzle game where your
        mission is to match 3 or more candies to complete unique objectives.
        Every level brings new sweets, fresh layouts, and clever challenges.
        With vibrant visuals, satisfying interactions, and rewarding progress,
        it's a treat for your brain and your eyes. Ideal for quick play sessions
        or extended gaming marathons.
      </p>
    </div>
    <img
      class="mob-about-icon"
      src="/img/about/mob-about.png"
      alt="icon about mob content"
      width="60"
      height="60"
    /><img
      class="about-icon"
      src="/img/about/about.png"
      alt="icon about content"
      width="250"
      height="220"
    />
  </div>
</section>
