<section class="section-contact section" id="contact">
  <div class="container-contact container">
    <h2 class="contact-title">Contact us</h2>
    <h3 class="contact-text">
      Have feedback, questions, or support requests? Reach out to us at:
    </h3>
    <div class="contact-mail">
      <svg class="icon-mail" width="30" height="30">
        <use href="/img/sprite.svg#icon-mail"></use>
      </svg>

      <p class="contact-email-address">
        Email:
        <a href="mailto:info@lollipopbouncematch.com" class="email-address"
          >info@lollipopbouncematch.com</a
        >
      </p>
    </div>

    <div class="social-links">
      <a
        href="https://www.facebook.com/"
        class="contact-icon-link"
        target="_blank"
      >
        <svg class="contact-icon" width="30" height="30">
          <use href="/img/sprite.svg#icon-bi_facebook"></use>
        </svg>
      </a>

      <a href="https://x.com/" class="contact-icon-link" target="_blank">
        <svg class="contact-icon" width="30" height="30">
          <use href="/img/sprite.svg#icon-prime_twitter"></use>
        </svg>
      </a>

      <a
        href="https://www.instagram.com/"
        class="contact-icon-link"
        target="_blank"
      >
        <svg class="contact-icon" width="30" height="30">
          <use href="/img/sprite.svg#icon-ri_instagram-fill"></use>
        </svg>
      </a>

      <a href="https://discord.com/" class="contact-icon-link" target="_blank">
        <svg class="contact-icon" width="30" height="30">
          <use href="/img/sprite.svg#icon-akar-icons_discord-fill"></use>
        </svg>
      </a>
    </div>

    <img
      class="contact-icon-content"
      src="/img/contact/contact.bg.png"
      alt="icon"
      width="60"
      height="60"
    />
  </div>
</section>
