<section class="features-section section" id="features">
  <div class="features-container container">
    <h2 class="features-title">Features</h2>
    <div class="features-wrapper">
      <ul class="features-list">
        <li class="features-item">
          <div class="features-box">
            <img
              class="features-box-icon-mob"
              src="/img/features/f-mob-img-1.png"
              alt="icon"
            />
          </div>
          <p class="features-text">
            Over 100 unique and carefully designed levels
          </p>
        </li>

        <li class="features-item">
          <div class="features-box">
            <img
              class="features-box-icon-mob"
              src="/img/features/f-mob-img-2.png"
              alt="icon"
            />
          </div>
          <p class="features-text">
            Free daily rewards and helpful in-game items
          </p>
        </li>

        <li class="features-item">
          <div class="features-box">
            <img
              class="features-box-icon-mob"
              src="/img/features/f-mob-img-3.png"
              alt="icon"
            />
          </div>
          <p class="features-text">Power candy combos for explosive effects</p>
        </li>

        <li class="features-item">
          <div class="features-box">
            <img
              class="features-box-icon-mob"
              src="/img/features/f-mob-img-4.png"
              alt="icon"
            />
          </div>
          <p class="features-text">
            Colorful and charming candy world graphics
          </p>
        </li>

        <li class="features-item">
          <div class="features-box">
            <img
              class="features-box-icon-mob"
              src="/img/features/f-mob-img-5.png"
              alt="icon"
            />
          </div>
          <p class="features-text">
            Compete on global leaderboards with friends
          </p>
        </li>

        <li class="features-item">
          <div class="features-box">
            <img
              class="features-box-icon-mob"
              src="/img/features/f-mob-img-6.png"
              alt="icon"
            />
          </div>
          <p class="features-text">
            Constant updates with new levels and features
          </p>
        </li>
      </ul>
      <img class="features-icon" src="/img/features/f-content.png" alt="icon" />
    </div>
  </div>
</section>
