<section class="gallery-section section" id="gallery">
  <div class="gallery-container container">
    <div class="gallery-head">
      <h2 class="gallery-title">Gallery</h2>
      <p class="gallery-text">
        Browse colourful screenshots and gameplay clips showcasing exciting
        levels, beautiful designs, and sugar-rush moments of fun
      </p>
    </div>
    <div class="slider-wrapper">
      <div class="gallery-swiper-btn" data-swiper-btn-gallery="prev">
        <svg class="gallery-arrow" width="64" height="64">
          <use href="/img/sprite.svg#icon-arr-left"></use>
        </svg>
      </div>
      <div class="swiper" data-swiper="gallery">
        <div class="swiper-wrapper">
          <div class="swiper-slide gallery-item">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/gallery/gallary5.desc.1x.png 1x,
                  /img/gallery/gallary5.desc.2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 1199px)"
                srcset="
                  /img/gallery/gallary5.mob.1x.png 1x,
                  /img/gallery/gallary5.mob.2x.png 2x
                "
                type="image/png"
              />
              <img src="/img/gallery//gallary5.mob.1x.png" alt="game photo" />
            </picture>
          </div>

          <div class="swiper-slide gallery-item">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/gallery/gallary2.desc.1x.png 1x,
                  /img/gallery/gallary2.desc.2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 1199px)"
                srcset="
                  /img/gallery/gallary2.mob.1x.png 1x,
                  /img/gallery/gallary2.mob.2x.png 2x
                "
                type="image/png"
              />
              <img
                src="/img/gallery/gallary/gallary2.mob.1x.png"
                alt="game photo"
              />
            </picture>
          </div>

          <div class="swiper-slide gallery-item">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/gallery/gallary6.desc.1x.png 1x,
                  /img/gallery/gallary6.desc.2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 1199px)"
                srcset="
                  /img/gallery/gallary6.mob.1x.png 1x,
                  /img/gallery/gallary6.mob.2x.png 2x
                "
                type="image/png"
              />
              <img src="/img/gallery/gallary6.mob.1x.png" alt="game photo" />
            </picture>
          </div>

          <div class="swiper-slide gallery-item">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/gallery/gallary3.desc.1x.png 1x,
                  /img/gallery/gallary3.desc.2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 1199px)"
                srcset="
                  /img/gallery/gallary3.mob.1x.png 1x,
                  /img/gallery/gallary3.mob.2x.png 2x
                "
                type="image/png"
              />
              <img src="/img/gallery/gallary3.mob.1x.png" alt="game photo" />
            </picture>
          </div>

          <div class="swiper-slide gallery-item">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/gallery/gallary4.desc.1x.png 1x,
                  /img/gallery/gallary4.desc.2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 1199px)"
                srcset="
                  /img/gallery/gallary4.mob.1x.png 1x,
                  /img/gallery/gallary4.mob.2x.png 2x
                "
                type="image/png"
              />
              <img src="/img/gallery/gallary4.mob.1x.png" alt="game photo" />
            </picture>
          </div>

          <div class="swiper-slide gallery-item">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/gallery/gallary.desc.1x.png 1x,
                  /img/gallery/gallary.desc.2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 1199px)"
                srcset="
                  /img/gallery/gallary.mob.1x.png 1x,
                  /img/gallery/gallary.mob.2x.png 2x
                "
                type="image/png"
              />
              <img src="/img/gallery/gallary.mob.1x.png" alt="game photo" />
            </picture>
          </div>
        </div>
      </div>

      <div class="gallery-swiper-btn" data-swiper-btn-gallery="next">
        <svg class="gallery-arrow" width="64" height="64">
          <use href="/img/sprite.svg#icon-arr-right"></use>
        </svg>
      </div>
    </div>

    <img class="gallery-icon" src="/img/gallery/gallary.bg.png" alt="icon" />
  </div>
</section>
