<section class="game-modes-section section" id="game-modes">
  <div class="game-modes-container container">
    <h2 class="game-modes-title">Game Modes</h2>
    <div class="game-modes-wrapper">
      <ul class="game-modes-list">
        <li class="game-modes-box">
          <p class="game-modes-text">
            Classic Match-3: The traditional <br class="mob-br" />candy-matching experience
          </p>
          <img
            class="game-modes-box-icon"
            src="/img/game-modes/gm-1.png"
            alt="icon"
          />
        </li>

        <li class="game-modes-box">
          <p class="game-modes-text">
            Timed Challenge: Beat the clock <br class="mob-br" />to finish objectives
          </p>
          <img
            class="game-modes-box-icon"
            src="/img/game-modes/gm-2.png"
            alt="icon"
          />
        </li>

        <li class="game-modes-box">
          <p class="game-modes-text">
            Limited Moves: Solve the puzzle <br class="mob-br" />using a set number of moves
          </p>
          <img
            class="game-modes-box-icon"
            src="/img/game-modes/gm-3.png"
            alt="icon"
          />
        </li>

        <li class="game-modes-box">
          <p class="game-modes-text">
            Target Collection: Collect specific <br class="mob-br" />candy types
          </p>
          <img
            class="game-modes-box-icon"
            src="/img/game-modes/gm-4.png"
            alt="icon"
          />
        </li>

        <li class="game-modes-box">
          <p class="game-modes-text">
            Boss Levels: Face candy <br class="mob-br" />challenges with unique goals
          </p>
          <img
            class="game-modes-box-icon"
            src="/img/game-modes/gm-5.png"
            alt="icon"
          />
        </li>
      </ul>
      <img
        class="game-modes-icon"
        src="/img/game-modes/gm-content.png"
        alt="icon"
      />
    </div>
  </div>
</section>
