<section class="sweet-boosters section" id="sweet-boosters">
  <div class="sweet-boosters-container container">
    <h2 class="sweet-boosters-title">Sweet Boosters</h2>
    <div class="sweet-boosters-wrapper">
      <ul class="sweet-boosters-list">
        <li class="sweet-boosters-item">
          <div class="sweet-boosters-box">
            <img
              class="sweet-boosters-box-icon-mob"
              src="/img/sweet-boosters/sb-1.png"
              alt="icon"
            />
          </div>
          <h5 class="sweet-boosters-subtitle">Lollipop Hummer</h5>
          <p class="sweet-boosters-text">
            Smash any candy <br class="desktop-br" />on the board
          </p>
        </li>

        <li class="sweet-boosters-item">
          <div class="sweet-boosters-box">
            <img
              class="sweet-boosters-box-icon-mob"
              src="/img/sweet-boosters/sb-2.png"
              alt="icon"
            />
          </div>
          <h5 class="sweet-boosters-subtitle">Rainbow Drop</h5>
          <p class="sweet-boosters-text">
            Clears all candies <br class="desktop-br" />of one type
          </p>
        </li>

        <li class="sweet-boosters-item">
          <div class="sweet-boosters-box">
            <img
              class="sweet-boosters-box-icon-mob"
              src="/img/sweet-boosters/sb-3.png"
              alt="icon"
            />
          </div>
          <h5 class="sweet-boosters-subtitle">Magic Mixer</h5>
          <p class="sweet-boosters-text">
            Shuffles the board  <br class="desktop-br" />for fresh chances
          </p>
        </li>

        <li class="sweet-boosters-item">
          <div class="sweet-boosters-box">
            <img
              class="sweet-boosters-box-icon-mob"
              src="/img/sweet-boosters/sb-4.png"
              alt="icon"
            />
          </div>
          <h5 class="sweet-boosters-subtitle">Candy Bomb</h5>
          <p class="sweet-boosters-text">Clears a wide radius  <br class="desktop-br" />of candies</p>
        </li>

        <li class="sweet-boosters-item">
          <div class="sweet-boosters-box">
            <img
              class="sweet-boosters-box-icon-mob"
              src="/img/sweet-boosters/sb-5.png"
              alt="icon"
            />
          </div>
          <h5 class="sweet-boosters-subtitle">Color Swirl</h5>
          <p class="sweet-boosters-text">
            Swap any two candies  <br class="desktop-br" />regardless of type
          </p>
        </li>
      </ul>
      <img
        class="sweet-boosters-icon"
        src="/img/sweet-boosters/sb-content.png"
        alt="icon"
      />
    </div>
  </div>
</section>
