body {
  font-family: 'Nunito', sans-serif;
  background-color: #023533;
  color: #f7f5f5;
  margin: 0 auto;
}

h1,
h2 {
  font-family: 'Luckiest Guy', sans-serif;
}

h3 {
  font-family: 'Baloo 2', sans-serif;
}

.section {
  padding: 14px 0;
}

@media only screen and (min-width: 1200px) {
  .section {
    padding: 60px 0;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2 {
  transform-origin: center center;
  transition: transform 1s ease;
}

h1[data-animated='true'],
h2[data-animated='true'] {
  animation: scaleInOut 1s ease forwards;
}

@keyframes scaleInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
