.container-device-compatibility {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.device-header {
  font-weight: 400;
  font-size: 34px;
  line-height: 1;
  text-align: center;
}

.device-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33333;
}

@media (min-width: 1200px) {
  .container-device-compatibility {
    position: relative;
    gap: 40px;
    background-image: url(/img/device-compatibility/device.bg.png),
      url(/img/device-compatibility/device.bg2.png);
    background-repeat: no-repeat;
    background-position: right 100px top 110px, right 20px top 20px;
    background-size: 80px 80px, 134px 134px;
  }

  .device-header {
    font-size: 80px;
    text-align: start;
  }
  .device-text {
    font-size: 20px;
    line-height: 1.5;
    max-width: 828px;
  }
}
