.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-title {
  font-weight: 400;
  font-size: 34px;
  line-height: 1;
  margin-bottom: 20px;
}

.faq-wrapper-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.faq-accordion {
  background: rgba(5, 40, 54, 0.8);
  border-radius: 20px;
  width: 99%;
  height: 364px;
  border-radius: 20px;
  padding: 20px 0 20px 10px;
}

.faq-wrapper {
  width: 99%;
  height: 364px;
  overflow-y: scroll;
  scrollbar-width: auto;
  scrollbar-color: #ff5ca3 transparent;
}

.faq-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
}

details {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid #ff5ca3;
  padding: 12px;
  width: 80%;
}

.faq-icon-wrapper {
  position: relative;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

details[open] {
  .icon-plus {
    opacity: 0;
    transform: rotate(90deg) scale(0.5);
  }

  .icon-minus {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }

  summary {
    margin-bottom: 14px;
  }
}

summary {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.faq-icon {
  width: 48px;
  height: 48px;
  fill: #f7f5f5;
  flex-shrink: 0;
}

.faq-item-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.53846;
}

.faq-icon-content {
  display: none;
}

.icon-plus,
.icon-minus {
  transition: opacity 0.3s ease, transform 0.3s ease, fill 0.3s ease;
  position: absolute;
}

.icon-plus {
  opacity: 1;
  transform: rotate(0deg) scale(1);
  cursor: pointer;
}

.icon-minus {
  opacity: 0;
  transform: rotate(-90deg) scale(0.5);
  cursor: pointer;
}

summary:hover svg {
  fill: #ff5ca3;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  .faq-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
  }

  .faq-wrapper-box {
    flex-direction: row;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  .faq-title {
    font-size: 80px;
    text-align: left;
    margin-bottom: 40px;
  }

  .faq-accordion {
    width: 74%;
    height: 476px;
    padding: 30px 0 30px 20px;
  }

  .faq-wrapper {
    height: 100%;
  }

  details {
    width: 90%;
    padding: 10px 20px;
  }

  details[open] {
    summary {
      margin-bottom: 20px;
    }

    .faq-item-text {
      margin-bottom: 36px;
    }
  }

  summary {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
  }

  .faq-item-text {
    font-size: 20px;
    line-height: 1.5;
  }

  .faq-icon-wrapper {
    width: 80px;
    height: 80px;
  }

  .faq-icon {
    width: 80px;
    height: 80px;
  }

  .faq-icon-content {
    width: 150px;
    height: 150px;
    display: inline;
    flex-shrink: 0;
    margin-top: 129px;
  }
}
