.footer.section {
  background: rgba(5, 40, 54, 0.8);
  padding: 34px 0;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
}

.footer-nav {
  border-bottom: 1px solid #ff5ca3;
  width: 99%;
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.footer-list:last-child {
  margin-bottom: 20px;
}

.footer-nav-item {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.footer-nav-link {
  transition: text-shadow 0.3s ease, color 0.3s ease;
}

.footer-nav-link:hover {
  text-shadow: 0 4px 20px #fdcbe1;
}

.footer-nav-link:focus {
  color: #ff78b3;
}

.footer-copyrights {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  width: 216px;
}

@media only screen and (min-width: 1200px) {
  .footer.section {
    padding: 30px 0
  }

  .footer-container {
    padding: 0 20px;
  }

  .footer-nav {
    margin-bottom: 34px;
  }

  .footer-list {
    flex-direction: row;
    gap: 40px;
  }

  .footer-list:last-child {
    margin-bottom: 34px;
  }

  .footer-copyrights {
    width: auto;
  }
}
