.header-section {
  background-color: rgba(5, 40, 54, 0.8);
  border-bottom: 3px solid #ff5ca3;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91px;
}

.header-nav {
  display: none;
}

.header-nav-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #f7f5f5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (min-width: 1200px) {
  .header-container {
    height: 120px;
  }

  .header-nav {
    display: flex;
    gap: 16px;
  }

  .header-nav-list {
    display: flex;
    gap: 12px;
  }

  .header-nav-item,
  [data-nav-link][data-active='true'] {
    transition: color 0.3s ease;
  }

  .header-nav-item:hover,
  .header-nav-item:focus,
  [data-nav-link][data-active='true'] {
    color: #ff78b3;
  }
}
