[data-scroll-button] {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-color: rgba(133, 30, 90, 0.158);
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  filter: drop-shadow(0px 0px 8px rgba(219, 59, 128, 0.904))
    drop-shadow(0px 0px 12px rgba(245, 241, 242, 0.6));
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

[data-scroll-icon] {
  width: 50px;
  height: 50px;
  fill: #ff5ca3;
  transition: filter 0.3s ease;
}

[data-scroll-button][data-visible='true'] {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

[data-scroll-icon]:hover,
[data-scroll-icon]:focus {
  filter: drop-shadow(0px 5px 15px rgba(255, 255, 255, 0.5));
  fill: #e12778;
}

@media (min-width: 1200px) {
  [data-scroll-button] {
    width: 65px;
    height: 65px;
    bottom: 45px;
    right: 45px;
  }
}
