.sweet-boosters-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sweet-boosters-title {
  font-weight: 400;
  font-size: 34px;
  line-height: 1;
  margin-bottom: 20px;
  text-align: center;
}

.sweet-boosters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 16px;
}

.sweet-boosters-item {
  width: 235px;
}

.sweet-boosters-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 226px;
  background: rgba(5, 40, 54, 0.8);
  border: 2px solid #ff5ca3;
  border-radius: 20px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease, color 0.3s ease;
}

.sweet-boosters-box:hover,
.sweet-boosters-box:focus {
  box-shadow: 0 4px 20px 4px #fdcbe1;
}

.sweet-boosters-subtitle {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.sweet-boosters-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33333;
}

@media only screen and (max-width: 1199px) {
  .sweet-boosters-icon,
  .desktop-br {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .sweet-boosters-container {
    flex-direction: column;
    align-items: start;
  }

  .sweet-boosters-title {
    font-size: 80px;
    margin-bottom: 50px;
  }

  .sweet-boosters-list {
    justify-content: center;
    gap: 50px;
    width: 808px;
  }

  .sweet-boosters-item {
    width: 235px;
  }

  .sweet-boosters-box {
    margin-bottom: 20px;
  }

  .sweet-boosters-subtitle {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 14px;
  }

  .sweet-boosters-text {
    font-size: 20px;
    line-height: 1.5;
  }

  .sweet-boosters-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .sweet-boosters-icon {
    margin-top: 327px;
    position: relative;
    right: 0;
    width: 152px;
    height: 102px;
  }
}
