[data-theme-toggle] {
  position: relative;
  width: 26px;
  height: 26px;
  padding: 0;
  display: inline-block;
  background: transparent;
  border: none;
  fill: #fff;
}

.toggle-button-icon {
  width: 26px;
  height: 26px;
}

[data-theme-toggle] svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
  transition: opacity 0.5s ease, transform 0.5s ease, fill 0.5s ease;
}

[data-icon-sun] {
  opacity: 1;
  z-index: 2;
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
}

[data-icon-moon] {
  opacity: 0;
  z-index: 1;
  transform: translate(-50%, -50%) scale(0.5);
}

body:not([data-light]) [data-icon-moon] {
  transform: translate(-50%, -50%) rotate(-90deg) scale(0.5);
}

[data-theme-toggle]:hover svg {
  fill: #ff78b3;
}

body[data-light] {
  .backdrop-header,
  .header-section,
  .features-box,
  .sweet-boosters-box,
  .game-modes-box,
  .swiper-item,
  .faq-accordion,
  .footer.section,
  .cookies {
    background: rgba(101, 129, 83, 0.8);
  }

  .header-page,
  details {
    background: rgba(162, 224, 175, 0.8);
  }

  h1,
  h2 {
    color: #ff2c88;
    text-shadow: 4px 4px 4px #ffffff;
    -webkit-text-stroke: 1px #023533b9;
  }

  .review-text,
  .game-modes-text,
  .review-author,
  .footer.section {
    color: #ffffff;
  }

  .container-contact::before,
  .hero-container::before {
    background: radial-gradient(
      circle,
      #ff2c88 50%,
      #ffffff 60%,
      transparent 80%
    );
  }

  .accept-btn {
    color: #658153;
  }

  .gallery-arrow {
    fill: #658153;
  }

  .gallery-arrow:hover {
    filter: drop-shadow(0px 0px 12px rgb(255, 255, 255));
  }

  .gallery-arrow:active {
    filter: none;
    fill: #ff78b3;
  }

  .icon-mail,
  .faq-icon {
    fill: #023533;
  }

  summary:hover svg {
    fill: #ff5ca3;
    cursor: pointer;
  }

  .button-hero {
    border: 1px solid #023533b9;
  }

  .button-hero:hover,
  .button-hero:focus {
    border: 1px solid #ff2c88;
  }

  [data-icon-moon] {
    opacity: 1;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }

  [data-icon-sun] {
    opacity: 0;
    z-index: 1;
    transform: translate(-50%, -50%) rotate(90deg) scale(0.5);
  }

  .page-list-item-subtitle {
    color: #012423;
  }

  [data-scroll-button] {
    background-color: rgba(236, 181, 213, 0.11);
    filter: drop-shadow(0px 0px 8px rgb(255, 255, 255))
      drop-shadow(0px 0px 12px rgb(255, 255, 255));
    transform: translateY(100px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  }

  [data-scroll-icon] {
    fill: #e12778;
    transition: filter 0.3s ease;
  }

  [data-scroll-button][data-visible='true'] {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  [data-scroll-icon]:hover,
  [data-scroll-icon]:focus {
    filter: drop-shadow(0px 5px 15px rgb(189, 42, 133));
    fill: #fff;
  }

  background: #a2e0af;
  color: #023533;
}

@media only screen and (min-width: 1200px) {
  [data-theme-toggle] svg {
    width: 34px;
    height: 34px;
  }
}
